In [1]:
s1="kiriti"

In [2]:
s1

'kiriti'

In [3]:
type(s1)

str

In [4]:
#1 program to reverse a string.
s1[::-1]

'itirik'

In [11]:
#2 program to Check if a string is a palindrome.
s2=input()
print('The given string',s2,'is palindrome:' ,s2.lower()==s2.lower()[::-1])

 Racecar

The given string Racecar is palindrome: True

In [1]:
#3 program to Convert a string to uppercase.
s1=input("Please enter the string")
print(s1.upper())

Please enter the string kiriti

'KIRITI'

In [2]:
#4 program to Convert a string to lowercase.
s1=input("Please enter the string")
s1.lower()

Please enter the string kiriti

'kiriti'

In [19]:
#5 program to Count the number of vowels in a string.
s1=input("Please enter the string")
s2=s1.lower()
a=s2.count('a')+s2.count('e')+s2.count('i')+s2.count('o')+s2.count('u')
print('The no of vowels in the string',s2,'is',a)

 Kiriti

The no of vowels in the string kiriti is 3

In [2]:
#6 program to Count the number of consonants in a string.
s1=input("Please enter the string")
s2=s1.lower()
b=len(s2)
a=s2.count('a')+s2.count('e')+s2.count('i')+s2.count('o')+s2.count('u')
print('The no of consonants in the string',s2,'is',b-a)

 fly

The no of consonants in the string fly is 3

In [20]:
#7 program to Remove all whitespaces from a string.
s1=input("Please enter the string")
print(s1.strip())

kiriti

In [13]:
#8 program to Find the length of a string without using the `len()` function.
s1=input("Please enter the string")
s1=s2.lower()
a=s1.count('a')+s1.count('b')+s1.count('c')+s1.count('d')+s1.count('e')+s1.count('f')+s1.count('g')+s1.count('h')+s1.count('i')+s1.count('j')+s1.count('k')+s1.count('l')+s1.count('m')+s1.count('n')+s1.count('o')+s1.count('p')+s1.count('q')+s1.count('r')+s1.count('s')+s1.count('t')+s1.count('u')+s1.count('v')+s1.count('w')+s1.count('x')+s1.count('y')+s1.count('z')+s1.count(' ')
print('The length of the string',s2,'is',a)

 kirit   i

The length of the string kirit   i is 9

In [28]:
#9 program to Check if a string contains a specific word.
s2="The is to check if a string contains a specific word"
s3=input()
a=s2.find(s3)
print('The word',s3,'is present and starts at',a,'index of',"'",s2,"'")

 string

The word string is present and starts at 21 index of ' The is to check if a string contains a specific word '

In [32]:
#10 program to Replace a word in a string with another word.
s2="My name is kiriti emani"
s1=s2.replace("emani","srirama")
print(s1)
print(s2)

My name is kiriti srirama
My name is kiriti emani

In [37]:
#11 program to Count the occurrences of a word in a string.
s2="My name name name is kiriti kiriti emani"
s1=s2.count("kiriti")
print(s1)

2

In [45]:
#12 program to Find the first occurrence of a word in a string.
s2="My name name name is kiriti emani"
s1=s2.find("name")
print(s1)

3

In [48]:
#13 program to Find the last occurrence of a word in a string.
s2="My name name name is kiriti emani"
s1=s2.rfind("name")
print(s1)

13

In [49]:
#14 program to Split a string into a list of words.
s2="My name name name is kiriti emani"
s1=s2.split()
print(s1)

['My', 'name', 'name', 'name', 'is', 'kiriti', 'emani']

In [59]:
#15 program to Join a list of words into a string.
l1=['My', 'name', 'name', 'name', 'is', 'kiriti', 'emani']
s8=' '.join(l1)
print(s8)

My name name name is kiriti emani

In [65]:
#16 program to Convert a string where words are separated by spaces to one where words are separated by underscores.
s2="My name name name is kiriti emani"
s1=s2.replace(' ','_')
print(s1)

My_name_name_name_is_kiriti_emani

In [72]:
#17 program to Check if a string starts with a specific word or phrase.
s2="My name name name is kiriti emani"
s1=s2.startswith("My")
print(s1)

True

In [77]:
#18 program to Check if a string ends with a specific word or phrase.
s2="My name name name is kiriti emani"
s1=s2.endswith("emani")
print(s1)

True

In [79]:
#19 program to Convert a string to title case (e.g., "hello world" to "Hello World").
s2="hello world"
s1=s2.title()
print(s1)

Hello World

In [135]:
#20 program to Find the longest word in a string.
s2="My name is kiriti emani"
l1=s2.split()
print(l1)
max(l1,key=len)

['My', 'name', 'is', 'kiriti', 'emani']

'kiriti'

In [134]:
#21 program to Find the shortest word in a string.
s2="My name is kiriti emani"
l1=s2.split()
print(l1)
min(l1,key=len)

['My', 'name', 'is', 'kiriti', 'emani']

'My'

In [133]:
#22 program to Reverse the order of words in a string.
s2="My name is kiriti emani"
l1=s2.split()
l2=l1[::-1]
' '.join(l2)

'emani kiriti is name My'

In [143]:
#23 program to Check if a string is alphanumeric.
s2="Myphonenumberis9991234567"
s2.isalnum()

True

In [1]:
#24 program to Extract all digits from a string.
s2="Myphonenumberis9991234567"
c=""
for i in s2:
    if i.isdigit():
        c=c+i
print(c)

9991234567

In [2]:
#25 program to Extract all alphabets from a string.
s2="Myphonenumberis9991234567"
c=""
for i in s2:
    if i.isalpha():
        c=c+i
print(c)

Myphonenumberis

In [3]:
#26 program to count number of uppercase letter in  a string.
s2="MyNameIsKiritI"
c=0
for i in s2:
    if i.isupper():
        c=c+1
print(c)

5

In [4]:
#27 program to count number of lowercase letter in  a string.
s2="MyNameIsKiritI"
c=0
for i in s2:
    if i.islower():
        c=c+1
print(c)

9

In [5]:
#28 program to swap case of eachc haracter in  the string
s2="MyNameIsKiritI"
s3=s2.swapcase()
print(s3)

mYnAMEiSkIRITi

In [14]:
#29 program to Remove a specific word from a string.
s2="My name is kiriti emani srirama"
s3=s2.replace("srirama","")
print(s3)

My name is kiriti emani

In [3]:
#30 program to check if a string is valid email address
a="kiriti161@gmail.com"
if a.find('@') and a.find('.com'):
    print("Valid email address")

Valid email address

In [6]:
#31 program to extract username from email
a="kiriti161@gmail.com"
c=a.find('@')
print(a[0:c])

kiriti161

In [8]:
#32 program to extract domain from email
a="kiriti161@gmail.com"
c=a.find('@')
d=a.find('.')
print(a[c+1:d])

gmail

In [22]:
#33 program to Replace multiple spaces in a string with a single space
a="sri     rama        kiriti"
b=a.split()
c=' '.join(b)
print(c)

sri rama kiriti

In [4]:
#34 program to check  if a string is a valid URL
a=input("Enter the url")
if (a.find('http://') or a.find('https://')) and a.find('.com'):
    print("Valid url address")
else:
    print("Invalid url address")

Enter the url https://www.example.com

Valid url address

In [6]:
#35 program to extract protocol
a="https://www.example.com"
c=a.find('www.')
print(a[0:c-3])

https

In [16]:
#36 program to Find the frequency of each character in a string
a=input("Please enter the string")
b={}
for i in a:
    if i in b:
        b[i]+=1
    else:
        b[i]=1
print(b)

Please enter the string india

{'i': 2, 'n': 1, 'd': 1, 'a': 1}

In [36]:
#37 program to remove punctuations
a=input("Please enter the string")
translator = str.maketrans("","","""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~""")
clean_string = a.translate(translator)
print(clean_string)

Please enter the string hello!world!

helloworld

In [39]:
#38
a=input("Please enter the string")
if a.isalpha():
    print("The given string",a, "contains only alphabets")
else:
    print("The given string",a, "doesnot contains only alphabets")

Please enter the string kiriti123

The given string kiriti123 doesnot contains only alphabets

In [55]:
#39
a=input("Please enter the string")
if a.isdigit():
    print("The given string",a, "contains only digits")
else:
    print("The given string",a, "doesnot contains only digits")

Please enter the string 21234

The given string 21234 contains only digits

In [58]:
#40
a=input("Please enter the string")
b=list(a)
print("The string after coverting to list is :",b)

Please enter the string kiriti

The string after coverting to list is : ['k', 'i', 'r', 'i', 't', 'i']

In [63]:
#41
s1=input("please enter string1")
s2=input("please enter string2")
if sorted(s1)==sorted(s2):
    print('The strings are anagram')
else:
    print('The strings are not anagrams')

please enter string1 kiriti
please enter string2 itiirk

The strings are anagram

In [69]:
#42
s1=input("please enter string")
shift=int(input("enter the shift"))
s2=s1.lower()
encoded_text=""
for char in s2:
    if char.isalpha():
        encoded_char = chr(ord(char) + shift)
    else:
        encoded_char = char
    encoded_text += encoded_char
print(encoded_text)

please enter string Kiriti
enter the shift 3

nlulwl

In [71]:
#43
s1=input("please enter string")
shift=int(input("enter the shift"))
s2=s1.lower()
encoded_text=""
for char in s2:
    if char.isalpha():
        encoded_char = chr(ord(char) - shift)
    else:
        encoded_char = char
    encoded_text += encoded_char
print(encoded_text.capitalize())

please enter string nlulwl
enter the shift 3

Kiriti

In [12]:
#44
from collections import Counter
a=input("Please enter the string")
translator = str.maketrans("","","""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~""")
clean_string = a.translate(translator).lower()
split=clean_string.split()
wc=Counter(split)
most_common_word = wc.most_common(1)[0][0]
print(most_common_word)

Please enter the string Hello world, hello there! How's the world

<class 'collections.Counter'>
hello

In [15]:
#45
a=input("Please enter the string")
translator = str.maketrans("","","""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~""")
clean_string = a.translate(translator).lower()
split=clean_string.split()
final_list=set(split)
print(final_list)

Please enter the string Hello world, hello there! How's the world

{'world', 'hello', 'hows', 'the', 'there'}

In [19]:
#46
a=input("Please enter the string").lower()
count=0
for i in a:
    if i in ['a','e','i','o','y']:
        count+=1
print("Syllables are ",count)

Please enter the string banana

Syllables are  3

In [3]:
#47
a=input("Please enter the string")
chk = ("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~""")
count=0
for i in a:
    if i in chk:
        count+=1
if count>0:
    print("The string contains special characters",count)
else:
    print("The string does not contains special characters")

Please enter the string Hello world, hello there! How's the world

The string contains special characters 3

In [14]:
#48
a=input("Please enter the string")
l=int(input("Enter at which position word to remove"))
b=a.split()
c=b.pop(l-1)
d=' '.join(b)
print(d)

Please enter the string sri rama kriti emani pwskills
Enter which word to remove 3

sri rama emani pwskills

In [17]:
#49
a=input("Please enter the string")
l=int(input("Enter at which position word to add"))
n=input("Please enter the new string")
b=a.split()
c=b.insert(l-1,n)
d=' '.join(b)
print(d)

Please enter the string sri rama kriti
Enter at which position word to add 1
Please enter the new string emani

emani sri rama kriti

In [31]:
#50
a=input("Please enter the string")
b=a.split('\\n')
for i in b:
    d=i.split(',')
    print(d)

Please enter the string Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [38]:
##############lists assignment#################
#1
c=[i+1 for i in range(10)]
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
#2
count=0
for i in [1,2,3,4,5]:
    count+=1
print('The lenght of the list is',count)

The lenght of the list is 5

In [58]:
#3
a=[1,2,3,4,5]
c=int(input("Enter the element that you want to add at the end of the lsit"))
a.append(c)
print(a)

Enter the element that you want to add at the end of the lsit 6

[1, 2, 3, 4, 5, 6]

In [61]:
#4
a=[1,2,3,4,5]
c=int(input("At which index you want to add the element"))
d=int(input("Enter the element"))
a.insert(c-1,d)
print(a)

At which index you want to add the element 4
Enter the element 66

[1, 2, 3, 66, 4, 5]

In [63]:
#5
a=[1,2,3,4,5,6]
a.remove(2)
print(a)

[1, 3, 4, 5, 6]

In [2]:
#6
a=[2,3,4,5,6]
a.pop(0)
print(a)

[3, 4, 5, 6]

In [11]:
#7
a=[1,2,3,4,5]
b=int(input("enter the element you want to search"))
c=a.count(b)
if c==0:
    print("element doesn't exist")
else:
    print("element exists")

enter the element you want to search 7

element doesn't exist

In [13]:
#8
a=[1,2,3,3,1,4,5,2]
c=int(input("enter the element for which you want to find index"))
b=a.index(c)
print(b)

enter the element for which you want to find index 3

2

In [16]:
#9
a=[1,2,3,3,1,4,5,2,2,2,2,]
c=int(input("enter the element for which you want to find occurance"))
b=a.count(c)
print(b)

enter the element for which you want to find occurance 2

5

In [21]:
#10
a=[1,2,3,3,1,4,5,2,2,2,2]
a.reverse()
print("list in reverse order is",a)

list in reverse order is [2, 2, 2, 2, 5, 4, 1, 3, 3, 2, 1]

In [23]:
#11
a=[1,2,3,3,1,4,5,2,2,2,2]
a.sort()
print(a)

[1, 1, 2, 2, 2, 2, 2, 3, 3, 4, 5]

In [27]:
#12
a=[1,2,3,3,1,4,5,2,2,2,2]
a.sort(reverse=True)
print(a)

[5, 4, 3, 3, 2, 2, 2, 2, 2, 1, 1]

In [32]:
#13
a=[i+1 for i in range(1,20,2)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [33]:
#14
a=[i for i in range(1,20,2)]
print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [35]:
#15
a=[1,2,3,4,5,6,7,8]
b=sum(a)
print(b)

36

In [37]:
#16
a=[1,2,3,4,5,6,7,8]
b=max(a)
print(b)

8

In [38]:
#17
a=[1,2,3,4,5,6,7,8]
b=min(a)
print(b)

1

In [39]:
#18
a=[i*i for i in range(1,11)]
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [53]:
#19
import random
a=[random.randint(1,100) for i in range(10)]
print(a)

[12, 40, 93, 74, 19, 23, 99, 19, 22, 92]

In [55]:
#20
a=[1,2,3,4,5,5,5,6,7,8,2,3,4]
b=list(set(a))
print(b)

[1, 2, 3, 4, 5, 6, 7, 8]

In [69]:
#21
a=[1,2,3,4,5]
b=[3,4,5,6,7]
c=[]
for i in range(len(b)):
    d=b.count(a[i])
    if d>0:
        c.append(a[i])
print(c)

[3, 4, 5]

In [71]:
#22
a=[1,2,3,4,5]
b=[3,4,5,6,7]
c=[]
for i in range(len(b)):
    d=b.count(a[i])
    if d==0:
        c.append(a[i])
print(c)

[1, 2]

In [73]:
#23
a=[1,2,3,4,5]
b=[3,4,5,6,7]
c=list(set(a+b))
print(c)

[1, 2, 3, 4, 5, 6, 7]

In [74]:
#24
a=[1,2,3,4,5]
b=[i*2 for i in a]
print(b)

[2, 4, 6, 8, 10]

In [76]:
#25
a=[1,2,3,4,5]
for i in a:
    if i%2==0:
        a.remove(i)
print(a)

[1, 3, 5]

In [77]:
#26
a=['1','2','3','4','5','6']
b=[int(i) for i in a]
print(b)

[1, 2, 3, 4, 5, 6]

In [78]:
#27
a=[1,2,3,4,5]
b=[str(i) for i in a]
print(b)

['1', '2', '3', '4', '5']

In [101]:
#28
a=[[1,2,3],[4,5,6],[7,8,9],10]
b=[]
for i in a:
    if isinstance(i,list):
        b.extend(i)
    else:
        b.append(i)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [107]:
#29
a=[0,1]
for i in range(2,10):
    i=a[i-2]+a[i-1]
    a.append(i)
print(a)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [102]:
#30
a=[1,2,3,4,5,6]
c=a.copy()
a.sort()
d=0
for i in range(len(a)):
    if c[i]==a[i]:
        d+=1
if d==len(a):
    print("sorted list")
else:
    print("Not sorted list")

sorted list

In [128]:
#31
a=[1,2,3,4,5,6]
n=int(input("how many positons you want to rotate left?"))
b=a[n:]+a[:n]
print(b)

how many positons you want to rotate? 2

[3, 4, 5, 6, 1, 2]

In [129]:
#32
a=[1,2,3,4,5,6]
n=int(input("how many positons you want to rotate right?"))
b=a[-2:]+a[:-2]
print(b)

how many positons you want to rotate right? 2

[5, 6, 1, 2, 3, 4]

In [143]:
#33
d=[]
for i in range(1,50):
    c=0
    for j in range(1,i+1):
        if i%j==0:
            c+=1
    if c==2:
        d.append(i)
print(d)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [173]:
#34
a=[1,2,3,4,5,6,7,8,9]
n=int(input("How many chunks you want ?"))
b=[]
for i in range(0,len(a),n):
   b.append(a[i:n+i])
print(b)

How many chunks you want ? 4

[[1, 2, 3, 4], [5, 6, 7, 8], [9]]

In [174]:
#35
a=[1,2,3,4,5,6,7,8,9]
a.sort()
b=a[-2]
print("The second largest number is",b)

The second largest number is 8

In [175]:
#36
a=[1,2,3,4,5,6,7,8,9]
b=[i*i for i in a]
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
#37
a=[1,2,9,4,5,8]
my_dict = {value:index for index,value in enumerate(a)}
print(my_dict)

{1: 0, 2: 1, 9: 2, 4: 3, 5: 4, 8: 5}

In [10]:
#38
import random
a=[1,2,9,4,5,8]
random.shuffle(a)
print(a)

[2, 1, 4, 9, 8, 5]

In [6]:
#39
c=[1,1,]
b=1
n=int(input())
for i in range(2,n):
    b=b*i
    c.append(b)
print(c)

 10

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [20]:
#40
a=[1,2,3,4]
b=[3,4,5,6]
c=0
for i in a:
    if i in b:
        c+=1
if c>1:
    print("Atleast One element in common")

Atleast One element in common

In [22]:
#41
a=[1,2,3,4]
a.clear()
print(a)

[]

In [28]:
#42
a=[1,2,3,4,-3,-4]
for i in range(len(a)):
    if a[i]<0:
        a.pop(i)
        a.insert(i,0)
print(a)

[1, 2, 3, 4, 0, 0]

In [31]:
#43
a="My Name Is Kiriti Emani"
b=a.split()
print(b)

['My', 'Name', 'Is', 'Kiriti', 'Emani']

In [32]:
#44
a=['My', 'Name', 'Is', 'Kiriti', 'Emani']
b=" ".join(a)
print(b)

My Name Is Kiriti Emani

In [37]:
#45
b=0
c=[]
n=int(input())
for i in range(0,n):
    b=2**i
    c.append(b)
print(c)

 5

[1, 2, 4, 8, 16]

In [45]:
#46
h=0
ls=[]
a=['My', 'Name', 'Is', 'Kiriti', 'Emani','PWSKILLSLAB']
for i in range(len(a)):
    if len(a[i])>h:
        h=len(a[i])
        ls=a[i]
print(ls)

PWSKILLSLAB

In [47]:
#47
l=len(a)
ss=[]
a=['My', 'Name', 'Is', 'Kiriti', 'Emani','PWSKILLSLAB']
for i in range(len(a)):
    if len(a[i])<l:
        l=len(a[i])
        ss=a[i]
print(ss)

My

In [19]:
#48
c=[1]
d=2
n=int(input())
for i in range(1,(n*3)+1):
    if i-c[-1] == d:
        c.append(i)
        d+=1
print(c)

 5

[1, 3, 6, 10, 15]

In [62]:
#49
a=[1,2,3,4,5,6,7]
b=[1,3,10]
c=0
for i in a:
    if i in b:
        c+=1
if c==len(b):
    print("Yes list contains another list as a subsequence")
else:
    print("No list doesn't contains another list as a subsequence")

No list doesn't contains another list as a subsequence

In [63]:
#50
a=[1,2,3,4,5]
b=2
c=3
temp=a[b]
a[b]=a[c]
a[c]=temp
print(a)

[1, 2, 4, 3, 5]

In [64]:
#1
t=(1,2,3,4,5)

In [66]:
#2
print(t[2])

3

In [67]:
#3
c=0
for i in t:
    c+=1
print(c)

5

In [75]:
#4
t1=(1,2,2,3,3,4,5,6,6,6,6)
t1.count(6)

4

In [77]:
#5
t1.index(6)

7

In [76]:
#6
search_element=7
if search_element in t1:
    print("found")
else:
    print("Not found")

Not found

In [80]:
#7
l1=list(t1)
print(l1)

[1, 2, 2, 3, 3, 4, 5, 6, 6, 6, 6]

In [81]:
#8
tuple(l1)

(1, 2, 2, 3, 3, 4, 5, 6, 6, 6, 6)

In [84]:
#9
t3=(1,2,3)
a,b,c=t3
print(a,b,c)

1 2 3

In [2]:
#10
l=[i for i in range(2,11,2)]
t1=tuple(l)
print(t1)

(2, 4, 6, 8, 10)

In [6]:
#11
l=[i for i in range(1,11,2)]
t2=tuple(l)
print(t2)

(1, 3, 5, 7, 9)

In [8]:
#12
t1+t2

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [9]:
#13
t1*3

(2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10)

In [3]:
#14
c=0
for i in t1:
    c+=1
if c>0:
    print("Non Empty tuple")
else:
    print("empty tuple")

Non Empty tuple

In [11]:
#15
nt=((1,2,3),(4,5,6),(7,8,9))
print(nt)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [12]:
#16
nt[0]

(1, 2, 3)

In [16]:
#17
single_element_tuple=(1,)
print(single_element_tuple)

(1,)

In [22]:
#18
t1=(1,2,3)
t2=(3,4,5)
print("t1<t2",t1<t2)
print("t1>t2",t1>t2)
print("t1<=t2",t1<=t2)
print("t1>=t2",t1>=t2)
print("t1==t2",t1==t2)
print("t1!=t2",t1!=t2)

t1<t2 True
t1>t2 False
t1<=t2 True
t1>=t2 False
t1==t2 False
t1!=t2 True

In [25]:
#19
del(t1)
print(t1)

NameError: name 't1' is not defined

In [27]:
#20
t2[:2]

(3, 4)

In [28]:
#21
max(t2)

5

In [29]:
#22
min(t2)

3

In [31]:
#23
s="my name is kiriti"
t=tuple(list(s))
print(t)

('m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'k', 'i', 'r', 'i', 't', 'i')

In [36]:
#24
t=('m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'k', 'i', 'r', 'i', 't', 'i')
a=''.join(t)
print(a)

my name is kiriti

In [39]:
#25
t=(1,2,4.5,3+4j,{1,2,3},(1,2,3),True,[5,6,'kiriti'],{"name":"kiriti"})
print(t)

(1, 2, 4.5, (3+4j), {1, 2, 3}, (1, 2, 3), True, [5, 6, 'kiriti'], {'name': 'kiriti'})

In [42]:
#26
t1=(1,2,3)
t2=(2,3,4)
print("t1 is equal to t2:",t1==t2)

t1 is equal to t2: False

In [49]:
#27
t3=(1,6,3,8,4,9,2)
l3=list(t3)
l3.sort()
print(tuple(l3))

(1, 2, 3, 4, 6, 8, 9)

In [50]:
#28
t3=(1,2,3,4,55,6,7)
c=[]
for i in t3:
    c.append(str(i))
print(tuple(c))

('1', '2', '3', '4', '55', '6', '7')

In [51]:
#29
t5=('1', '2', '3', '4', '55', '6', '7')
c=[]
for i in t5:
    c.append(int(i))
print(tuple(c))

(1, 2, 3, 4, 55, 6, 7)

In [52]:
#30
t1=(1,2,3,4)
t2=(4,5,6,7)
print(t1+t2)

(1, 2, 3, 4, 4, 5, 6, 7)

In [64]:
#31
t1=((1,2,3),(4,5,6),(7,8,9))
t2=[]
for i in t1:
    for j in i:
        t2.append(j)
print(tuple(t2))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [69]:
#32
d=[]
for i in range(1,50):
    c=0
    for j in range(1,i+1):
        if i%j==0:
            c+=1
    if c==2:
        d.append(i)
print(tuple(d[:5]))

(2, 3, 5, 7, 11)

In [73]:
#33
t=(1,2,3,3,2,1)
if t[::-1]==t:
    print("The tuple is palindrome")

The tuple is palindrome

In [77]:
#34
t=[i*i for i in range(1,6)]
print(tuple(t))

(1, 4, 9, 16, 25)

In [78]:
#35
t=(1,2,3,4,5,6,7,8,9,10)
c=[]
for i in t:
    if i%2==0:
        c.append(i)
print(tuple(c))

(2, 4, 6, 8, 10)

In [81]:
#36
t=(1,2,3,4,5,6)
c=[]
for i in t:
    c.append(i*2)
print(tuple(c))

(2, 4, 6, 8, 10, 12)

In [83]:
#37
import random
l=[random.randint(1,100) for i in range(10)]
print(tuple(l))

(26, 54, 53, 95, 21, 56, 83, 49, 60, 43)

In [108]:
#38
t=(1,2,5,4)
t2l=list(t).copy()
t2l.sort()
t2l2=list(t).copy()
if t2l==t2l2:
    print("The tuple is sorted")
else:
    print("The tuple is not sorted")

The tuple is not sorted

In [113]:
#39
t=(1,2,3,4,5,6,7,8)
n=int(input("How many postions you want to shift left"))
nt=t[n:]+t[:n]
print(nt)

How many postions you want to shift left 2

(3, 4, 5, 6, 7, 8, 1, 2)

In [115]:
#40
t=(1,2,3,4,5,6,7,8)
n=int(input("How many postions you want to shift right"))
nt=t[-n:]+t[:-n]
print(nt)

How many postions you want to shift right 2

(7, 8, 1, 2, 3, 4, 5, 6)

In [117]:
#41
a=[0,1]
for i in range(2,5):
    i=a[i-2]+a[i-1]
    a.append(i)
print(tuple(a))

(0, 1, 1, 2, 3)

In [121]:
#42
a=input("Please enter numbers with space delimited")
b=a.split()
c=[]
for i in b:
    c.append(int(i))
print(tuple(c))

Please enter numbers with space delimited 1 2 3 4 5 6

(1, 2, 3, 4, 5, 6)

In [3]:
#43
t=(1,2,3,4,5,6)
l=list(t)
a=1
b=2
temp=(l[a])
(l[a])=(l[b])
(l[b])=temp
print(tuple(l))

(1, 3, 2, 4, 5, 6)

In [4]:
#44
t=(1,2,3,4,5)
print(t[::-1])

(5, 4, 3, 2, 1)

In [7]:
#45
l=[]
for i in range(5):
    l.append(2**i)
print(tuple(l))

(1, 2, 4, 8, 16)

In [16]:
#46
l=()
lent=0
t=('kiriti','srirama','emani','pwskillslab','sriramakiritiemani')
for i in range(len(t)):
    if len(t[i])>lent:
        lent=len(t[i])
        l=t[i]
print(l)

sriramakiritiemani

In [17]:
#47
l=()
lent=len(t[1])
print(lent)
t=('kiriti','srirama','emani','pwskillslab','sriramakiritiemani')
for i in range(len(t)):
    if len(t[i])<lent:
        lent=len(t[i])
        l=t[i]
print(l)

7
emani

In [3]:
#48
n = 5
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [1]:
#49
t1=(1,2,3,4,5,6)
t2=(4,5,6)
c=0
for i in range(len(t1)):
    if t2[0]==t1[i]:
        for j in range(len(t2)):
            if t1[i+j]==t2[j]:
                c+=1
if c==len(t2):
    print("tuple subsequence successful")
else:
    print("Not")

tuple subsequence successful

In [4]:
#50
n=int(input("Please enter the range"))
c=tuple(i%2 for i in range(n))
print(c)

Please enter the range 5

(0, 1, 0, 1, 0)

In [5]:
#1
s={i for i in range(1,6)}
print(s)

{1, 2, 3, 4, 5}

In [6]:
#2
s={1,2,3,4,5}
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [15]:
#3
s={1,2,3,4,5}
s.remove(4)
print(s)

{1, 2, 3, 5}

In [17]:
#4
s={1,2,3,4,5}
n=int(input("Please emter serach element"))
if n in s:
    print(f"The element {n} presents in {s}")

Please emter serach element 3

The element 3 presents in {1, 2, 3, 4, 5}

In [19]:
#5
s={1,2,3,4,5}
c=0
for i in s:
    c+=1
print(f"The lenght of set {s} is {c}")

The lenght of set {1, 2, 3, 4, 5} is 5

In [22]:
#6
s={1,2,3,4}
print(f"The set before clearning is : {s}")
s.clear()
print("The set after clearning is".format(s))

The set before clearning is : {1, 2, 3, 4}
The set after clearning is

In [28]:
#7
n=int(input("please enter the range"))
s={i for i in range(0,n,2)}
print("The first {} even numbers in set format is {}".format(n,s))

please enter the range 5

The first 5 even numbers in set format is {0, 2, 4}

In [30]:
#8
n=int(input("please enter the range"))
s={i for i in range(1,n,2)}
print("The first {} even numbers in set format is {}".format(n,s))

please enter the range 6

The first 6 even numbers in set format is {1, 3, 5}

In [1]:
#9
s1={1,2,3,4,5}
s2={7,8,9,10,11}
s1.union(s2)

{1, 2, 3, 4, 5, 7, 8, 9, 10, 11}

In [15]:
#10
s1={1,2,3,4,5}
s2={3,4,5,6,7}
s1.intersection(s2)

{3, 4, 5}

In [18]:
#11
s1={1,2,3,4,5}
s2={3,4,5,6,7}
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2}
{6, 7}

In [21]:
#12
s1={1,2,3,4,5}
s2={2,3,4}
print(s1.issubset(s2))
print(s2.issubset(s1))

False
True

In [22]:
#13
s1={1,2,3,4,5}
s2={2,3,4}
print(s1.issuperset(s2))
print(s2.issuperset(s1))

True
False

In [24]:
#14
l1=[1,2,3,4,5]
s1=set(l1)
print(s1)

{1, 2, 3, 4, 5}

In [25]:
#15
s1={1,2,3,4,56}
l1=list(s1)
print(l1)

[1, 2, 3, 4, 56]

In [30]:
#16
s1={1,2,3,4,5,6,7,8,9}
n=int(input("Enter the element you want to remove the set {}".format(s1)))
s1.discard(n)
print(f"Set after removing the required element is {s1}")

Enter the element you want to remove the set {1, 2, 3, 4, 5, 6, 7, 8, 9} 4

Set after removing the required element is {1, 2, 3, 5, 6, 7, 8, 9}

In [39]:
#17
s1={2,3,4,5,6,7,8,9,10}
s1.pop()
print(s1)

{3, 4, 5, 6, 7, 8, 9, 10}

In [46]:
#18
s1={1,2,3,4,5}
s2={3,4,6}
if s1.intersection(s2):
    print("Intersection present")
else:
    print("No intersection present")

Intersection present

In [52]:
#19
s1={1,2,3,4,5}
s2={3,4,6}
s3=s1.difference(s2)
s4=s2.difference(s1)
print(s3.union(s4))

####################
print(s1^s2)

{1, 2, 5, 6}
{1, 2, 5, 6}

In [1]:
#20
s1={1,2,3,4,5}
s2={3,4,6}
s1.update(s2)
s1

{1, 2, 3, 4, 5, 6}

In [11]:
#21
c=0
i=1
s={2,}
while len(s)<5:
        c=0
        i+=1
        for j in range(1,i+1):
            if i%j==0:
                c+=1
        if c==2:
            s.add(i)
print(s)

{2, 3, 5, 7, 11}

In [13]:
#22
s1={1,2,3,4,5,6,7}
s2={2,3,4,5,6,7,1}
if s1==s2:
    print("Identical sets")
else:
    print("Non Identical sets")

Identical sets

In [15]:
#23
s={1,2,3,4,5}
s1=frozenset(s) ##frozenset set that cannot be changed
print(s1)
s1.remove() #this confirms that frozenset cannot be changed

frozenset({1, 2, 3, 4, 5})

AttributeError: 'frozenset' object has no attribute 'remove'

In [20]:
#24
s1={1,2,3,4,5}
s2={6,7,8,9}
print(s1.isdisjoint(s2)) ##no elements in common
print(s2.isdisjoint(s1))

True
True

In [22]:
#25
s={i*i for i in range(1,6)}
print(s)

{1, 4, 9, 16, 25}

In [34]:
#26
s={1,2,3,4,5,6,7,8}
s2={i for i in s if i%2==0}
print(s2)

{8, 2, 4, 6}

In [31]:
#27
s={1,2,3,4,5,6,7,8}
s2={i*2 for i in s}
print(s2)

{2, 4, 6, 8, 10, 12, 14, 16}

In [33]:
#28
import random
s={random.randint(1,100) for i in range(5)}
print(s)

{72, 82, 27, 94, 95}

In [36]:
#29
s={1,2,3,4,5}
if len(s)==0:
    print("Empty Set")
else:
    print("NonEmpty Set")

NonEmpty Set

In [40]:
#30
s1={1,2,3,4,5}
s2={6,7,8,9,10}
s1=frozenset(s1)
s2=frozenset(s2)
s3={s1,s2}
print(s3)

{frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [42]:
#31
s={1,2,3,4,5,6}
s.discard(3)
print(s)

{1, 2, 4, 5, 6}

In [49]:
#32
s1={1,2,3,4,5,6}
s2={3,4,5,78,9,0}
print(f"Union of sets {s1} {s2} is {s1.union(s2)}")
print(f"Intersection of sets {s1} {s2} is {s1.intersection(s2)}")
print(f"Difference of sets {s1} {s2} is {s1.difference(s2)}")
print(f"Checking if {s1} is superset of  {s2} is {s1.issuperset(s2)}")
print(f"Checking if {s1} is subset of  {s2} is {s1.issubset(s2)}")

Union of sets {1, 2, 3, 4, 5, 6} {0, 3, 4, 5, 9, 78} is {0, 1, 2, 3, 4, 5, 6, 9, 78}
Intersection of sets {1, 2, 3, 4, 5, 6} {0, 3, 4, 5, 9, 78} is {3, 4, 5}
Difference of sets {1, 2, 3, 4, 5, 6} {0, 3, 4, 5, 9, 78} is {1, 2, 6}
Checking if {1, 2, 3, 4, 5, 6} is superset of  {0, 3, 4, 5, 9, 78} is False
Checking if {1, 2, 3, 4, 5, 6} is subset of  {0, 3, 4, 5, 9, 78} is False

In [51]:
#33
stri="My Name is Kiriti Emani"
s=set(stri)
print(s)

{'y', 'e', 'M', 'N', 's', 't', 'K', 'E', 'a', 'r', 'n', 'm', 'i', ' '}

In [56]:
#34
s={'1','2','3','4','5'}
s1=set()
for i in s:
    s1.add(int(i))
print(s1)

{1, 2, 3, 4, 5}

In [58]:
#35
s={1,2,3,4,5,6}
s1=set()
for i in s:
    s1.add(str(i))
print(s1)

{'5', '2', '4', '6', '1', '3'}

In [61]:
#36
t=(1,2,3,4,5,6)
set(t)

{1, 2, 3, 4, 5, 6}

In [62]:
#37
t={1,2,3,4,5,6}
tuple(t)

(1, 2, 3, 4, 5, 6)

In [64]:
#38
s={1,2,3,4,5,6,7}
max_s=max(s)
print(max_s)

7

In [66]:
#39
s={1,2,3,4,5,6,7}
min_s=min(s)
print(min_s)

1

In [72]:
#40
s=set()
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    s.add(user_input)
print(s)

>  kiriti
>  emani
>  done

{'kiriti', 'emani'}

In [73]:
#41
s1={1,2,3,4,5}
s2={2,3,4}
if s1.intersection(s2):
    print("Non Empty Intersection")
else:
    print("Empty Intersection")

Non Empty Intersection

In [74]:
#42
s=set()
a,b=0,1
for i in range(6):
    s.add(a)
    a,b=b,a+b
print(s)

{0, 1, 2, 3, 5}

In [76]:
#43
l=[1,2,3,4,5,6,6,6,7,7]
s=set(l)
print(list(s))

[1, 2, 3, 4, 5, 6, 7]

In [79]:
#44
s1={5,2,3,4,3,1}
s2={1,2,3,4,5}
if s1==s2:
    print("Equal Sets")
else:
    print("Unequal Sets")

Equal Sets

In [83]:
#45
n=int(input("Please inpu the range"))
s={2**i for i in range(n)}
print(s)

Please inpu the range 5

{1, 2, 4, 8, 16}

In [84]:
#46
s={1,2,3,4,5}
l=[2,3,4,7,8,9]
s1=set(l)
s.intersection(s1)

{2, 3, 4}

In [88]:
#47
n=int(input("Please enter range"))
s={((i*(i+1))//2) for i in range(n)}
print(s)

Please enter range 5

{0, 1, 3, 6, 10}

In [89]:
#48
s1={1,2,3,4,5,6}
s2={2,3,4,5}
s2.issubset(s1)

True

In [90]:
#49
n=int(input("Please enter range"))
s={i%2 for i in range(n)}
print(s)

Please enter range 5

{0, 1}

In [92]:
#50
s1={1,2,3,4,5}
s2={5,6,7,8,9}
s3={10,11,12,13,14}
s1.union(s2,s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}